@import '../../node_modules/vuetify/src/stylus/settings/_colors'

$theme := {
  primary: $amber.lighten-1
  accent: $red.accent-2
  secondary: $blue-grey.darken-3
  info: $blue.lighten-1
  warning: $amber.lighten-1
  error: $red.lighten-1
  success: $green.lighten-1
}

@import '../../node_modules/vuetify/src/stylus/main'
